# Frontend
APP_URL=http://localhost:3333

# MongoDB
MONGO_URL=

# Secret
APP_SECRET=

# Sentry
SENTRY_DSN=


# Amazon S3
AWS_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# Storage
STORAGE_TYPE=

# Amazon SNS
AWS_SNS_ID=
AWS_SNS_SECRET=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=
